$light_green: #CDFADB;
$dark_green: #9adeb1;

$light_yellow: #F6FDC3;
$light_orange: #FFCF96;
$light_red: #FF8080;
$text_gray: #3a3a39;

$radius: 0.5em;
$padding: 0.5em;
$margin: 0.5em;
$shadow: 0 0.2em 0.2em -0.1em;