$light_green: #CDFADB;
$light_yellow: #F6FDC3;
$light_orange: #FFCF96;
$light_red: #FF8080;

$dark_green: darken($light_green, 5);
$dark_yellow: darken($light_yellow, 40);
$dark_red: darken($light_red, 40);



$text_gray: #3a3a39;
$text_white: #ffffff;

$radius: 0.5em;
$padding: 0.5em;
$margin: 0.5em;
$shadow: 0 0.2em 0.2em -0.1em;